@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mark GLauberman-Coe - Home Page</title>
    <meta name="description" content="Sailor is a Creative and Unique Corporate and Portfolio Web Template">
    <meta name="keywords" content="portfolio, creative, corporate, responsive, bootstrap">
    <meta name="author" content="JLT Media/ThemeForces">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png">
    <!-- Bootstrap
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <!-- Other Css Files
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/font-awesome-4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/jasny-bootstrap.min.css">
    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <!-- Google Fonts
    ================================================== -->
    <link href='~/http://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='~/http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- Modernizr
    ================================================== -->
    <script type="text/javascript" src="~/js/modernizr.custom.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/shCoreDefault.css" rel="stylesheet" />
    <style>.menu:hover, nav.menu.expanded 
{
    width:250px; 
    overflow:hidden;

}
    </style>
</head>
<body data-spy="scroll" data-target=".navbar-example">

    <section id="hero">
        <!-- Menu Toggle for Off Canvas-Menu -->
        <div id="menu" class="menu" data-toggle="offcanvas" data-target=".navmenu">
            <img src="~/img/menu.png" alt="menu-logo">
        @Html.Partial("_LoginPartial")
        </div>
    </section>
        @RenderBody()
        <!-- Preloader
        ================================================== -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <!-- Off Canvas Navigation
        ================================================== -->
        <div id="navigation" class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="padding-top:50px">
            <!--- Off Canvas Side Menu -->
            <a href=@Url.Action("Index","Home")><img src="~/img/menu-logo.png" alt="..." class="logo"></a> <!--- User Icon/ Or Logo Image -->
            <ul class="nav navmenu-nav">
                <!--- Menu -->
                <li class="active"><a class="page-scroll" href="~/#hero">Home</a></li>
                <li><a class="page-scroll" href="~/#portfolio">Portfolio</a></li>
                <li>@Html.ActionLink("JavaScript", "java1", "Java")</li>
                <li><a class="page-scroll" href="~/#about">About Me</a></li>
                <li><a class="page-scroll" href="~/#blog">Blog</a></li>
                <li><a class="page-scroll" href="~/#contact">Contact Me</a></li>
            @if(ViewContext.HttpContext.User.IsInRole("Admin"))
            {                
                <li>@Html.ActionLink("Admin", "AdminIndex", "BlogPosts")</li>
            }
            </ul><!--- End Menu -->
        </div> <!--- End Off Canvas Side Menu -->
        <div class="">

            <hr />
            <!-- Footer Section
            ================================================== -->
            <footer>
                <p class="copyright">© 2015 copyright. designed by  Mark Glauberman-Coe</p>
            </footer>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
        ================================================== -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    @*"~/js/jquery.1.11.1.js"*@
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="~/js/bootstrap.js"></script>
        <!-- Other JS Files -->
        <script type="text/javascript" src="~/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="~/js/jasny-bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/SmoothScroll.js"></script>
        <script type="text/javascript" src="~/js/nivo-lightbox.js"></script>
        <!-- Contact page-->
        <script type="text/javascript" src="~/js/jqBootstrapValidation.js"></script>
        @*<script type="text/javascript" src="~/js/contact.js"></script>*@
        <!-- Custom Javascripts
        ================================================== -->
        <script type="text/javascript" src="~/js/main.js"></script>

        @*<script src="~/Scripts/bootstrap.min.js"></script>*@
        <script src="~/Scripts/shCore.js"></script>
        <script src="~/Scripts/shBrushJScript.js"></script>
        <script>SyntaxHighlighter.all();</script>
        @RenderSection("scripts", required: false)
</body>
</html>
